<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <filter>
   		<filter-name>PaypalAuthFilter</filter-name>
   		<filter-class>com.appspot.demo.server.paypal.filter.PaypalAuthFilter</filter-class>
   </filter>
   
   <filter-mapping>
   		<filter-name>PaypalAuthFilter</filter-name>
   		<url-pattern>/demo/paypal/</url-pattern>
   		<dispatcher>REQUEST</dispatcher>  
		<dispatcher>INCLUDE</dispatcher>  
		<dispatcher>FORWARD</dispatcher>  
		<dispatcher>ERROR</dispatcher>  
   </filter-mapping>
   <servlet>
   		<servlet-name>DemoDispatcher</servlet-name>
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
   </servlet>
  
    <servlet-mapping>
        <servlet-name>DemoDispatcher</servlet-name>
        <url-pattern>/demo/*</url-pattern>
    </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Paypal.html</welcome-file>
  </welcome-file-list>

</web-app>
